body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #5c1a1b;
  color: #333;
}

.header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom: 4px solid maroon;
}

.header h1 {
  margin: 0;
  color: maroon;
}

.header p {
  font-size: 14px;
  margin-top: 5px;
}

.container {
  max-width: 850px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

.admission-box {
  text-align: center;
  border: 2px dashed maroon;
  padding: 20px;
  margin-bottom: 20px;
}

.admission-box h2 {
  color: maroon;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.course-grid button {
  padding: 10px;
  font-weight: bold;
  background-color: maroon;
  color: white;
  border: none;
  cursor: pointer;
}

.content-box {
  display: none;
  background-color: #f9f9f9;
  border-left: 4px solid maroon;
  padding: 15px;
  margin-bottom: 10px;
}

.content-box img {
  width: 100px;
  display: block;
  margin: 10px auto;
}

.sub-buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sub-buttons button {
  padding: 8px 12px;
  background-color: #800000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.footer {
  text-align: center;
  color: white;
  background-color: maroon;
  padding: 12px;
  margin-top: 20px;
}

/* Image Slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  background-color: #fff0f0;
  border: 3px solid maroon;
  padding: 10px;
  border-radius: 12px;
}

.slider-container img {
  width: 280px;
  height: 180px;
  border: 3px solid maroon;
  border-radius: 10px;
}

.slider-btn {
  font-size: 24px;
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
